main {
    display: grid;
    gap: 10px;
}

.block {
    padding: 20px;
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.block.block1 {
    background-color: #e74c3c;
}

.block.block2 {
    background-color: #8e44ad;
}

.block.block3 {
    background-color: #3498db;
}

.block.block4 {
    background-color: #81ecec;
}


@media (min-width: 321px) {
    main {
        grid-template-columns: 1fr;
    }

    .block.block2 {
        grid-row: 1;
    }

    .block.block1 {
        grid-row: 2;
    }

    .block.block3 {
        grid-row: 3;
    }

    .block.block4 {
        grid-row: 4;
    }
}


@media (min-width: 773px) {
    main {
        grid-template-columns: 1fr;
    }

    .block.block1 {
        grid-row: 1;
    }

    .block.block3 {
        grid-row: 2;
    }

    .block.block2 {
        grid-row: 3;
    }

    .block.block4 {
        grid-row: 4;
    }
}

@media (min-width: 993px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .block.block1 {
        grid-column: 1 / 4;
        grid-row: 1;
    }

    .block.block2 {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    .block.block3 {
        grid-column: 1 / 2;
        grid-row: 3;
    }

    .block.block4 {
        grid-column: 2 / 4;
        grid-row: 3;
    }
}