.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.container .block {
    padding: 20px;
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.block.block1 {
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: #e74c3c;
}

.block.block2 {
    grid-column: 1 / 2;
    grid-row: 2;
    background-color: #8e44ad;
}

.block.block3 {
    grid-column: 2 / 4;
    grid-row: 2;
    background-color: #3498db;
}

.block.block4 {
    grid-column: 4 / 5;
    grid-row: 2;
    background-color: #81ecec;
}

.block.block5 {
    grid-column: 3 / 4;
    grid-row: 3;
    background-color: #a29bfe;
}

.block.block6 {
    grid-column: 1 / 3;
    grid-row: 3;
    background-color: #ff7675;
}

.block.block7 {
    grid-column: 4 / 5;
    grid-row: 3;
    background-color: #6c5ce7;
}

.block.block8 {
    grid-column: 1 / 5;
    grid-row: 4;
    background-color: #0984e3;
}