table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

table th {
    background: #2c3e50;
    color: white;
    padding: 12px;
    text-align: left;
}

table td {
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}


tr td.onbekend {
    background-color: #ffcccc !important;
}