*{box-sizing:border-box}
.columns{width:94%; margin:10px auto; font-family:Arial; overflow:hidden;}
.col{float:left; width:50%; padding:10px; border:1px solid #333; min-height:200px;}
h1 {text-align: center;}