*{box-sizing:border-box}
.columns{width:94%; margin:10px auto;
    font-family: Arial, serif; overflow:hidden;}
.col{float:left; width:50%;border:1px solid #333; min-height:200px;}
h1 {text-align: center;}