body {
    font-size: 1em;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 0;
    padding: 0;
}

#imgHeader {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#content {
    width: 65%;
    float: left;
    margin-right: 30px;
}


#elixirs {
    width: 30%;
    float: right;
    background-color: #a7cece;
    color: #444444;
    border: 2px dotted white;
    margin: 30px 0;
    padding: 20px;
    font-style: italic;
    font-weight: bold;
    box-sizing: border-box;
}

h1 {
    color: #007e7e;
    font-size: 1.3em;
}

h2 {
    color: #007e7e;
    font-size: 1.1em;
}

#elixirs h1 {
    color: #d9006e;
    font-size: 1.3em;
}

#elixirs h2 {
    color: #8b4513;
    font-size: 1.1em;
}

#elixirs a {
    color: #007e7e;
    text-decoration: none;
}

#elixirs a:hover {
    background-color: #8b4513;
    color: white;
}

#elixirs img {
    display: block;
    margin: 10px auto;
    max-width: 80%;
}

.color {
    background-color: #a7cece;
    padding: 15px;
    margin: 20px 0;
}

#guarantee {
    color: #444444;
    font-style: italic;
    line-height: 1.5;
}

.cd {
    font-style: italic;
    color: #007e7e;
}

.artist {
    font-weight: bold;
}

ul {
    list-style-type: square;
    line-height: 1.6;
}

p {
    line-height: 1.5;
    font-size: 0.95em;
}

a {
    color: #007e7e;
}

a:hover {
    color: #005555;
}

footer {
    clear: both;
    text-align: center;
    font-size: 0.6em;
    padding: 20px 0;
}
