body { margin: 20px; }

h1, h2, h3 { font-family: Arial, sans-serif; }

h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.4em; }

p { font-family: 'Times New Roman', Times, serif; font-size: 1.2em; }

.kleur-rood { color: red; }
.kleur-groen { color: green; }
.kleur-blauw { color: blue; }