.checklist li {
    background: url('images/unchecked.png') no-repeat left center;
    padding-left: 30px;
    line-height: 24px;
}

.checklist li.checked {
    background: url('images/checked.png') no-repeat left center;
}
