body {
    font-family: Verdana, sans-serif;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}
h1 {
    font-variant: small-caps;
    background-color: red;
}
a:hover {
    border: 1px solid darkblue;
    padding: 2px;
}
.stippeltjesrand {
    border: 1px dotted black;
}