body {
    font-family: Arial, Helvetica, sans-serif;
}
.page-width {
    display: grid;
    grid-template-columns: 70% 25%;
    width: 95%;
    margin: 0 auto;
}
h1,h2 {
    color: darkblue;
    text-align: center;
}
h1 {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
}
h2 {
    font-size: 2.4em;
    margin-bottom: 0;
}
h3 {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 1.2em;
}
header {
    background-image: url(/Labo_9/Images2/bgsky3.jpg);
    background-size: cover;
    grid-column: span 2;
    height: 200px;
}
header>img {
    float: right;
    position: relative;
    bottom: 100px;
    right: 25%;
}
figure {
    float: left;
    padding-top: 20px;
}
p>span {
    color: darkblue;
    font-weight: bold;
}
aside {
    border: 1px solid #999999;
    background-color: #dddddd;
    grid-column: 2;
    box-sizing: border-box;
}
.content {
    grid-column: 1;
    box-sizing: border-box;
}
footer,.bottom {
    grid-column: span 2;
}
.bottom {
    width: 100%;
    background-color: #666666;
    color: white;
    line-height: 2em;
}
.bottom>div {
    width: 200px;
    margin-left: 120px;
    display: inline-block;
}
.bottom a {
    color: inherit;
}
.bottom a:hover {
    color: red;
}
footer>p {
    text-align: center;
    background-color: white;
}
.gallery {
    background-color: #999999;
    line-height: 0;
}
.foto {
    display: inline-block;
    border: 1px dotted white;
    margin: 20px;
}
.foto>img {
    height: 180px;
    width: 180px;
    border: 10px solid white;
    box-sizing: border-box;
}
.introduction>p {
    overflow: hidden;
    text-align: justify;
}
.introduction {
    padding: 20px;
}
