
body {
    margin: 0;
    padding: 10px;

}

article {
    border: 1px solid #999999;
    margin: 10px 0;
    padding: 10px;
    overflow: hidden;
}


article:nth-child(odd)  img {
    float: left;
}
article:nth-child(even) img {
    float: right;
}


article img {
    margin: 0 10px 10px 0;
}


article:nth-child(even) img {
    margin: 0 0 10px 10px;
}