/** Volgende CSS gaan we ze geven **/
* {
    box-sizing: border-box;
    margin: 0;
}
.respimg {
    width: 100%;
    height: auto;
    display: block;
}

header > img {
    height: 50px;
    width: auto;
}

header {
    margin: 0 auto;
}

h1{
    text-transform: uppercase;
    font-size: 2.5em;
    border-bottom: 2px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

h2{
    font-size: 1.5em;
}

nav ul{
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    gap: 10px;
    list-style: none;
}

nav{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li{
    text-align: center;
    padding: 10px 10px;
    border-right: 1px solid #ebe8e8;
    border-bottom: 2px solid transparent;
}

.title {
    height: 500px;
    background:url("images/headerimage.jpg") center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    text-align: center;

}

.recipes{
    margin: 50px auto;
}

.content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.recipe-item {

}

.recipe-image{
  grid-column: 2;
}

.small-title{
    grid-column: 1 / -1;
    width: 100%;
}

@media(max-width: 769px){
    .recipes{
        width: 600px;
    }
}

@media(min-width: 770px) {
    .recipes{
        width:750px;
    }
    nav ul{
        width: 600px;
        height: auto;
    }
}
@media(min-width: 1000px) {
    .recipes{
        width:980px;
    }
}