*{
    box-sizing: border-box;
}
h1{
    font-size: 3rem;
    color:red;
}
#intro{
    color: grey;
}

.rood{
    color:red;
    font-weight: bold;
}

.lijst{
    list-style: none;
    margin: 30px auto;

}

.lijst li{
    position: relative;
    margin: 15px auto;
}

.knop{
    display: inline-block;
    background-color:red;
    color:white;
    padding:12px 24px;
    border-radius:10px;
    font-weight:bold;
}