.canvas{
    width:1252px;
    height: 980px;
    background-color: black;
    margin: auto;
    border: solid black 10px;
    display: grid;
    grid-template-areas: ". . . . . . . tr tr"". . . . . . . . rr";
    grid-template-columns:repeat(9,1fr);
    grid-template-rows:repeat(7,1fr);
    gap:10px;
    font-size:80px;
}
.block1 {
    background-color:#0a4e95;
    grid-column: 1;
    grid-row: 1/3;


}
.block2 {
    background-color:#ffffff;
    grid-column: 2/4;
    grid-row: 1;
}
.block3 {
    background-color:#faed47;
    grid-column:1/3;
    grid-row:4/6;
}
.block4 {
    background-color:#ffffff;
    grid-area:tr;
}
.block5 {
    background-color:#faed47;
    grid-area: rr;
}

@media(max-width:800px){
    .block5{
        grid-column:8;
        grid-row:6;
    }
    .canvas{
        width:calc(1252px/2);
        height:calc(980px/2);
    }
}