.table{
    display: table;
    border-radius:4px;
    overflow:hidden;
    border:solid 1px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row{
    background-color:white;
    display: table-row;
    border:solid black 1px;
}
.row:nth-child(even){
    background-color:darkgray;
    border:solid black 1px;
}
.cell{
    display: table-cell;
    font-family: Arial, serif;
    font-size: 1em;
    border: solid black 1px;
    padding: 10px;
}

.cell > p{
    text-shadow:3px 3px 5px;
}